:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3;
  }

.juego {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-decoration: none;
    color: var(--secundario);
    background-color: var(--blanco)
}

.juego img {
    width: 100%;
    height: 100%;
    
    
}

.caja{
    display: flex;
    width: 100%;
}
.juegoMain{
    border: var(--gris) solid 5px;
    border-radius: 10px;
    -webkit-box-shadow: 22px 21px 24px 8px rgba(102,102,102,0.59);
    -moz-box-shadow: 22px 21px 24px 8px rgba(102,102,102,0.59);
    box-shadow: 22px 21px 24px 8px rgba(102,102,102,0.59);
    background-color: var(--blanco);
    padding: 10px;
    margin: 60px;
}
.textJuego{
    padding-top: 10px;
    font-size: 25px ;
    
}

.botonDetalle{

    border-radius: 15px;
    border: solid 4px var(--gris);
    width: 7rem;
    background-color: var(--gris);
    color: var(--blanco);

    padding: 3px;
    margin: 3px;
    -webkit-box-shadow: 15px 21px 20px -6px rgba(0,0,0,0.51);
    -moz-box-shadow: 15px 21px 20px -6px rgba(0,0,0,0.51);
    box-shadow: 15px 21px 20px -6px rgba(0,0,0,0.51);


}

.imgLogo {
    width: 80px;
}