:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
    --grisclaro: #DFE9F3;
  }
  
  .posicionIcono{
    display: flex;
    align-items: center;
  }

  .barraNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  
   }

  .navegacionPrincipal {
    display: flex;
    flex-direction: row;
    align-items:center;
    border-radius: 2rem;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


  }

  .navegacionPrincipal a {
    display: flex;
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 1rem;
    margin: 0 5rem 0 5rem;
    border-radius: 1px var(--secundario);
  }
  
  .navegacionPrincipal a:hover {
    background-color: var(--primario);
    color: var(--oscuro);
  }
  @media (min-width: 768px) {
    .navbar{
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .navegacionPrincipal {
      width: 90%;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--gris);
        box-shadow: 0 3px 6px -6px black;
        -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
       
    }

    .boton {
        width: auto;
    }
  }
 
  
  

  
  @media (prefers-reduced-motion: no-preference) {
    .NavBar-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  @keyframes NavBar-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  